/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2021, 5:01:37 PM
    Author     : Sanam
*/
* {
	box-sizing: border-box;
}
html,body{
    margin:auto;
      background: linear-gradient(to top, #ffd6ee, #fefafa);
       scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.column {
  float: left;
  width: 25%;
  padding: 20px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 50px;
    margin-top: 280px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


 button, a {
	 cursor: pointer;
}
.proudly {
  font-size: 1.300rem;
  line-height: 2.75rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin-top: -0.47rem;
  
}

.profile-dropdown {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 10px;
  position: relative;
  
}
.dropdown-svg {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  transition: transform 150ms ease-out;
}
.dropdown {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.900);
  border-radius: 14px;
  border-top-right-radius: 0px;
  width: 250px;
  padding: 0px 10px;
  top: 60px;
  right: 35px;
  z-index: 1000;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);

}

.dropdown-content {
  padding: 0;
  position: relative;
  
}

.dropdown-item {
  position: relative;
  list-style: none;
  margin: 10px 0px;
  padding: 15px 10px;
  padding-left: 20px;
  border-radius: 5px;
  color: #185ee0;
  transition: background 200ms;
  font-weight: 600;
                 backdrop-filter: blur(20px);

}

.dropdown-item .unread::after {
  position: absolute;
  background: #ee1b42;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.dropdown-item .unread.one::after {
  content: "1";
}

.dropdown-item .unread.two::after {
  content: "2";
}

.dropdown-item .unread.three::after {
  content: "3";
}

.dropdown-item.logout {
  color: #ee1b42;
  transition: background 200ms, color 200ms;
}


.profile-dropdown:hover ~ .dropdown,
.dropdown:hover {
  display: block;
      transition: transform 200ms;

  transition: background 200ms, color 200ms;


}

.profile-dropdown:hover ~ .dropdown-svg,
.dropdown:hover ~ .dropdown-svg {
  transform: rotate(180deg);
    transition: transform 200ms;

  transition: background 200ms, color 200ms;

}

.dropdown-name {
  display: block;
    transition: background 200ms, color 200ms;

}

.dropdown-item:hover {
  background: #185ee0;
  cursor: pointer;
  color: white;
}

.dropdown-item.logout:hover {
  background: #ee1b42;
  color: white;
}
.divider {
  list-style: none;
  height: 2px;
  width: 100%;
  background: #d9e5f6;
  margin: 0;
}

.divider-sidebar {
  margin: 10px 0px;
}

 .app-container {
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 height: 100%;
	 background-color: var(--app-container);
	 transition: 0.2s;
	 max-width: 1800px;
}
 .app-content {
	 display: flex;
	 height: 100%;
	 overflow: hidden;
	 padding: 16px 24px 24px 0;
}
 .app-header {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 width: 100%;
	 padding: 1px 24px;
	 position: fixed;
           border: 1px solid rgba(255, 255, 255, 0.125);
               backdrop-filter: blur(25px);

    background: rgba(255, 255, 255, 0.580);
      box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.05);
      z-index: 1;



}
 .app-header-left, .app-header-right {
	 display: flex;
	 align-items: center;
}
 .app-header-left {
	 flex-grow: 1;
}
 .app-header-right button {
	 margin-left: 10px;
}
 .app-icon {
	 width: 26px;
	 height: 2px;
	 border-radius: 4px;
	 background-color: var(--main-color);
	 position: relative;
}
 .app-icon:before, .app-icon:after {
	 content: '';
	 position: absolute;
	 width: 12px;
	 height: 2px;
	 border-radius: 4px;
	 background-color: var(--main-color);
	 left: 50%;
	 transform: translatex(-50%);
}
 .app-icon:before {
	 top: -6px;
}
 .app-icon:after {
	 bottom: -6px;
}
 .app-name {
	 color: var(--main-color);
	 margin: 0;
	 font-size: 20px;
	 line-height: 24px;
	 font-weight: 700;
	 margin: 0 32px;
}
 .mode-switch {
	 background-color: transparent;
	 border: none;
	 padding: 0;
	 color: var(--main-color);
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .search-wrapper {
	 border-radius: 20px;
	 background-color: var(--search-area-bg);
	 padding-right: 12px;
	 height: 40px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 width: 100%;
	 max-width: 480px;
	 color: var(--light-font);
	 overflow: hidden;
}
 .dark .search-wrapper {
	 box-shadow: none;
}
 .search-input {
	 border: none;
	 flex: 1;
	 outline: none;
	 height: 100%;
	 padding: 0 20px;
	 font-size: 16px;
	 background-color: var(--search-area-bg);
	 color: var(--main-color);
}
 .search-input:placeholder {
	 color: var(--main-color);
	 opacity: 0.6;
}
 .add-btn {
	 color: #fff;
	 background-color: var(--button-bg);
	 padding: 0;
	 border: 0;
	 border-radius: 50%;
	 width: 32px;
	 height: 32px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .notification-btn {
	 color: var(--main-color);
	 padding: 0;
	 border: 0;
	 background-color: transparent;
	 height: 32px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}


 .profile-btn {
	 padding: 0;
	 border: 0;
	 background-color: transparent;
	 display: flex;
	 align-items: center;
	 border-left: 2px solid #ddd;
         	 padding-left: 12px;
}
 .profile-btn img {
	 width: 32px;
	 height: 32px;
	 object-fit: cover;
	 border-radius: 50%;
	 margin-right: 4px;
}
 .profile-btn span {
	 color: var(--main-color);
	 font-size: 16px;
	 line-height: 24px;
	 font-weight: 700;
}
 .page-content {
	 flex: 1;
	 width: 100%;
}

 .box-content-header {
	 font-size: 16px;
	 line-height: 24px;
	 font-weight: 700;
	 opacity: 0.7;
}
 .box-content-subheader {
	 font-size: 14px;
	 line-height: 24px;
	 opacity: 0.7;
}
 .box-progress {
	 display: block;
	 height: 4px;
	 border-radius: 6px;
}
 .box-progress-bar {
	 width: 100%;
	 height: 4px;
	 border-radius: 6px;
	 overflow: hidden;
	 background-color: #fff;
	 margin: 8px 0;
}
 .box-progress-header {
	 font-size: 14px;
	 font-weight: 700;
	 line-height: 16px;
	 margin: 0;
}
 .box-progress-percentage {
	 text-align: right;
	 margin: 0;
	 font-size: 14px;
	 font-weight: 700;
	 line-height: 16px;
}
 .project-box-footer {
	 display: flex;
	 justify-content: space-between;
	 padding-top: 16px;
	 position: relative;
}
 .project-box-footer:after {
	 content: '';
	 position: absolute;
	 background-color: rgba(255, 255, 255, 0.6);
	 width: calc(100% + 32px);
	 top: 0;
	 left: -16px;
	 height: 1px;
}
 .participants {
	 display: flex;
	 align-items: center;
}
 .participants img {
	 width: 20px;
	 height: 20px;
	 border-radius: 50%;
	 overflow: hidden;
	 object-fit: cover;
}
 .participants img:not(:first-child) {
	 margin-left: -8px;
}
 .add-participant {
	 width: 20px;
	 height: 20px;
	 border-radius: 50%;
	 border: none;
	 background-color: rgba(255, 255, 255, 0.6);
	 margin-left: 6px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding: 0;
}
 .days-left {
	 background-color: rgba(255, 255, 255, 0.6);
	 font-size: 12px;
	 border-radius: 20px;
	 flex-shrink: 0;
	 padding: 6px 16px;
	 font-weight: 700;
}
 .mode-switch.active .moon {
	 fill: var(--main-color);
}
 .messages-btn {
	 border-radius: 4px 0 0 4px;
	 position: absolute;
	 right: 0;
	 top: 58px;
	 background-color: var(--message-btn);
	 border: none;
	 color: var(--main-color);
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding: 4px;
	 display: none;
}
 @media screen and (max-width: 980px) {
	 .project-boxes.jsGridView .project-box-wrapper {
		 width: 50%;
	}
	 .status-number, .status-type {
		 font-size: 14px;
	}
	 .status-type:after {
		 width: 4px;
		 height: 4px;
	}
	 .item-status {
		 margin-right: 0;
	}
}
 @media screen and (max-width: 880px) {
	 .messages-section {
		 transform: translateX(100%);
		 position: absolute;
		 opacity: 0;
		 top: 0;
		 z-index: 2;
		 height: 100%;
		 width: 100%;
	}
	 .messages-section .messages-close {
		 display: block;
	}
	 .messages-btn {
		 display: flex;
	}
}
 @media screen and (max-width: 720px) {
	 .app-name, .profile-btn span {
		 display: none;
	}
	 .add-btn, .notification-btn, .mode-switch {
		 width: 20px;
		 height: 20px;
	}
	 .add-btn svg, .notification-btn svg, .mode-switch svg {
		 width: 16px;
		 height: 16px;
	}
	 .app-header-right button {
		 margin-left: 4px;
	}
}
 @media screen and (max-width: 520px) {
	 .projects-section {
		 overflow: auto;
	}
	 .project-boxes {
		 overflow-y: visible;
	}
	 .app-sidebar, .app-icon {
		 display: none;
	}
	 .app-content {
		 padding: 16px 12px 24px 12px;
	}
	 .status-number, .status-type {
		 font-size: 10px;
	}
	 .view-btn {
		 width: 24px;
		 height: 24px;
	}
	 .app-header {
		 padding: 16px 10px;
	}
	 .search-input {
		 max-width: 120px;
	}
	 .project-boxes.jsGridView .project-box-wrapper {
		 width: 100%;
	}
	 .projects-section {
		 padding: 24px 16px 0 16px;
	}
	 .profile-btn img {
		 width: 24px;
		 height: 24px;
	}
	 .app-header {
		 padding: 10px;
	}
	 .projects-section-header p, .projects-section-header .time {
		 font-size: 18px;
	}
	 .status-type {
		 padding-right: 4px;
	}
	 .status-type:after {
		 display: none;
	}
	 .search-input {
		 font-size: 14px;
	}
	 .messages-btn {
		 top: 48px;
	}
	 .box-content-header {
		 font-size: 12px;
		 line-height: 16px;
	}
	 .box-content-subheader {
		 font-size: 12px;
		 line-height: 16px;
	}
	 .project-boxes.jsListView .project-box-header > span {
		 font-size: 10px;
	}
	 .box-progress-header {
		 font-size: 12px;
	}
	 .box-progress-percentage {
		 font-size: 10px;
	}
	 .days-left {
		 font-size: 8px;
		 padding: 6px 6px;
		 text-align: center;
	}
	 .project-boxes.jsListView .project-box > * {
		 margin-right: 10px;
	}
	 .project-boxes.jsListView .more-wrapper {
		 right: 2px;
		 top: 10px;
	}
}
 

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    height: 60px;
}

footer p {
    margin: 15px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

.input-icons i {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;


}

.input-icons {
    width: 60%;
}

.icon {
    min-width: 40px;
}


input[type="password"]{
    padding-left: 32px !important;
}

